@font-face {
  font-family: 'FrutigerBold';
  src: url("../fonts/FrutigerLTStd-BlackCn.woff") format("woff"), url("../fonts/FrutigerLTStd-BlackCn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FrutigerBlack';
  src: url("../fonts/FrutigerLTStd-BoldCn.woff") format("woff"), url("../fonts/FrutigerLTStd-BoldCn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloriaHallelujah';
  src: url("../fonts/gloriahallelujah-webfont.woff2") format("woff2"), url("../fonts/gloriahallelujah-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  padding-bottom: 100px;
}

.bg-orange {
  background: #ffca00;
  padding-bottom: 24rem;
  padding-top: 4rem;
  width: 100vw;
}

h2 {
  font-family: 'FrutigerBlack', 'sans-serif';
  font-size: 80px;
  color: #005346;
  margin-top: 36px;
  line-height: 70px;
}

form.main-form {
  margin-top: -250px;
  position: relative;
  padding-top: 100px;
}

form.main-form:before {
  content: ' ';
  width: 132px;
  height: 82px;
  display: block;
  background: url("../img/arrow.png") no-repeat;
  position: absolute;
  top: 0;
  left: 320px;
}

form.main-form label {
  font-family: 'GloriaHallelujah', 'sans-serif';
  font-size: 36px;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  position: absolute;
  left: 0;
  top: 10px;
}

form.main-form input#email {
  font-family: 'FrutigerBlack', 'sans-serif';
  font-size: 16px;
  width: 542px;
  height: 44px;
  border: 1px solid #575756;
  border-radius: 0;
  margin: 0 auto;
}

form.main-form button {
  margin-top: 182px;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  background: #005346;
  border-radius: 1.3rem;
  padding: 5px 83px;
  font-family: 'FrutigerBold', 'sans-serif';
}

.logo-form {
  position: relative;
  margin-top: 2rem;
  float: right;
  padding: 2rem;
}

/* On screens that are 400px wide or less */


@media screen and (max-width: 400px) {

  
  .bg-orange {
    background: #ffca00;
    padding-bottom: 24rem;
    padding-top: 4rem;
    max-width: 100vw;
  }

  img {
    max-width: 80vw !important; 
  }
  
  .text-left {
    font-family: 'FrutigerBlack', 'sans-serif';
    font-size: 2.5rem;
    color: #005346;
    margin-top: 36px;
    line-height: 1em;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left !important;
  }
  
  form.main-form {
    margin-top: -300px;
    position: relative;
    padding-top: 140px;
    max-width: 80vw !important; 
  }
  
  
  form.main-form label {
    font-family: 'GloriaHallelujah', 'sans-serif';
    font-size: 2rem;
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
    position: absolute;
    width: 50vw;
    top: -45px;
  }
  
  form.main-form input#email {
    font-family: 'FrutigerBlack', 'sans-serif';
    font-size: 16px;
    max-width: 80vw !important; 
    height: 44px;
    border: 1px solid #575756;
    border-radius: 0;
    margin: 0 auto;
  }


  form.main-form:before {
    content: ' ';
    width: 50%;
    height: 50%;
    display: block;
    background: url("../img/arrow.png") no-repeat;
    position: absolute;
    top: 0;
    left: 40vw;
  }

  form.main-form button {
    margin-top: 12rem;
    font-size: 0.8rem;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background: #005346;
    border-radius: 12px;
    padding: 1rem 2rem;
    font-family: 'FrutigerBold', 'sans-serif';
    position: relative;
    float: left;
  }
  
  .logo-form {
    position: relative;
    margin-top: 2rem;
    float: right;
    padding: 2rem;
    width: 50vw;
  }
}
